<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">

<head>
    <title data-th-text="${loggedInUser.name}+'| SCM'">Dashboard Page</title>
</head>

<body>


    <section id="content" class="mt-2  ">

        <!-- if user is logged in :sidebar -->
        <div data-th-if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar::sidebar}"></div>

        </div>

        <div class="bg-blue-500 text-center">
            <h1 class="text-lime-400 font-bold">Dashboard Page </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt odit iste voluptatum ipsum omnis
                inventore eos eaque earum, soluta reiciendis. Harum omnis, repellat voluptatum nulla error dolore saepe
                ipsam dolorum.</p>

        </div>
     

    </section>
    <script>
        console.log("hello profile");
    </script>
</body>

</html>