<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>services page</title>
</head>

<body>
    <div id="content">


        <div
            class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Save Your Contacts here.</h5>
            <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">This is a Samrt Contact Manager. Where
                we are store the user contact information which he wants to store.</p>
            <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
                <a href="/home"
                    class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">

                    <div class="text-left rtl:text-right">
                        <div class="-mt-1 font-sans text-sm font-semibold">Home</div>
                    </div>
                </a>

            </div>
        </div>


        <!-- Pricing -->
        <div id="pricing" class="cards-2">
            <div class="absolute bottom-0 h-40 w-full bg-white"></div>
            <div class="container px-4 pb-px sm:px-8">
                <h2 class="mb-2.5 text-white lg:max-w-xl lg:mx-auto">Pricing options for all budgets</h2>
                <p class="mb-16 text-white lg:max-w-3xl lg:mx-auto"> Our pricing plans are setup in such a way that any
                    user can start enjoying Pavo without worrying so much about costs. They are flexible and work for
                    any type of industry </p>

                <!-- Card-->
                <div class="card max-h-full">
                    <div class="card-body ">
                        <div class="card-title">STANDARD</div>
                        <div class="price"><span class="currency">$</span><span class="value">29</span></div>
                        <div class="frequency">monthly</div>
                        <p>This basic package covers the marketing needs of small startups</p>
                        <ul class="list mb-7 space-y-2 pb-6 text-left">
                            <li class="flex">
                                <i class="fas fa-chevron-right"></i>
                                <div>You can save only 10 contacts here.</div>
                            </li>
                           
                        </ul>
                        <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="/Signup">Signup</a>
                        </div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

                <!-- Card-->
                <div class="card max-h-full">
                    <div class="card-body pb-4">
                        <div class="card-title">ADVANCED</div>
                        <div class="price"><span class="currency">$</span><span class="value">39</span></div>
                        <div class="frequency">monthly</div>
                        <p>This is a more advanced package suited for medium companies</p>
                        <ul class="list mb-7 space-y-2 pb-6 text-left">
                            <li class="flex">
                                <i class="fas fa-chevron-right"></i>
                                <div>you can save 100 contacts here.</div>
                            </li>
                            <li class="flex">
                                <i class="fas fa-chevron-right"></i>
                                <div>direct message to the user</div>
                            </li>
                           
                        </ul>
                        <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="/Signup">Signup</a>
                        </div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

                <!-- Card-->
                <div class="card max-h-full ">
                    <div class="card-body pb-4">
                        <div class="card-title">COMPLETE</div>
                        <div class="price"><span class="currency">$</span><span class="value">49</span></div>
                        <div class="frequency">monthly</div>
                        <p>This is a comprehensive package designed for big organizations</p>
                        <ul class="list mb-7 text-left pb-6 space-y-2">
                            <li class="flex">
                                <i class="fas fa-chevron-right"></i>
                                <div>You can save multiple contacts here.</div>
                            </li>
                            <li class="flex">
                                <i class="fas fa-chevron-right"></i>
                                <div>you can explore our new feature</div>
                            </li>
                        </ul>
                        <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="Signup">Signup</a>
                        </div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

            </div> <!-- end of container -->
        </div> <!-- end of cards-2 -->
        <!-- end of pricing -->




    </div>

    <script>
        console.log("hello");
    </script>
</body>

</html>